.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 500px;
  margin: 0 auto;
  border-radius: 4px;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
  transition: color 0.3s;
}

.btnClose:hover {
  color: red;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}
